.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ace-editor {
    width: 40vw !important;
    min-width: 500px;
    height: 70vh !important;
    min-height: 500px;
}
